
.body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background: linear-gradient(135deg, #007bff, #6610f2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  
.formContainer {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    animation: fadeIn 0.8s ease-in-out;
  }
  
  .formContainer h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #007bff;
  }
  
.formContainer input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s;
  }
  
 .formContainer input:focus {
    border-color: #007bff;
    outline: none;
  }
  
.formContainer button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #007bff, #6610f2);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    margin-bottom: 10px;
  }
  
.formContainer button:hover {
    background: linear-gradient(135deg, #0056b3, #520dc2);
    transform: scale(1.02);
  }
  
.formContainer p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  
.formContainer a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
.formContainer a:hover {
    text-decoration: underline;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .formContainer {
      padding: 20px;
    }
  }
  
  /* Animação */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  